03-gpio/include_f031k6/* linguist-vendored=true
03-gpio/include_f446re/* linguist-vendored=true
04-interrupt/include_f031k6/* linguist-vendored=true
04-interrupt/include_f446re/* linguist-vendored=true
05-timer/include_f031k6/* linguist-vendored=true
05-timer/include_f446re/* linguist-vendored=true
06-freertos/freertos/* linguist-vendored=true
06-freertos/include_f031k6/* linguist-vendored=true
06-freertos/include_f446re/* linguist-vendored=true
07-rust/stm32f0x1/stm32f0x1_pac/* linguist-vendored=true
07-rust/stm32f446/stm32f446_pac/* linguist-vendored=true
07-rust/stm32l0x1/stm32l0x1_pac/* linguist-vendored=true

